@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* ------------------------------------------------------------- */
.visual-swiper .swiper-button-next,
.visual-swiper .swiper-button-prev {
  @apply text-white bg-gray-800/50 hover:bg-gray-800/80 transition duration-300 rounded-full flex justify-center items-center w-8 h-8 lg:w-10 lg:h-10 text-xl z-20;
}

.visual-swiper .swiper-button-next svg,
.visual-swiper .swiper-button-prev svg {
  width: 10px;
}

.visual-swiper .swiper-pagination-bullet {
  @apply w-2 h-2 mx-1 opacity-50 transition duration-500;
  background: white;
}

.visual-swiper .swiper-pagination-bullet-active {
  @apply w-6 opacity-100 rounded-full;
  background: white;
}

/* ------------------------------------------------------------- */

.quick-swiper .swiper-button-next,
.quick-swiper .swiper-button-prev {
  @apply text-white bg-gray-800/50 hover:bg-gray-800/80 transition duration-300 rounded-full flex justify-center items-center w-6 h-6 text-xl z-20;
}

.quick-swiper .swiper-button-next svg,
.quick-swiper .swiper-button-prev svg {
  width: 6px;
}

/* 1024이하일때 */
@media (max-width: 1023px) {
  .quick-swiper {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

/* 1024이상일때 */
@media (min-width: 1024px) {
  .quick-swiper .swiper-button-next {
    display: none !important;
  }

  .quick-swiper .swiper-button-prev {
    display: none !important;
  }
}

/* ------------------------------------------------------------- */

.tour-swiper {
  padding-bottom: 30px !important;
}
.tour-swiper .swiper-pagination {
  @apply flex justify-center;
}
.tour-swiper .swiper-pagination-bullet {
  @apply w-2 h-2 mx-1 opacity-50 transition duration-500;
  background: white;
}

.tour-swiper .swiper-pagination-bullet-active {
  @apply opacity-100;
}
/* ------------------------------------------------------------- */
