@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* ------------------------------------------------------------- */
.visual-swiper .swiper-button-next,
.visual-swiper .swiper-button-prev {
  @apply text-white bg-gray-800/50 hover:bg-gray-800/80 transition duration-300 rounded-full flex justify-center items-center w-8 h-8 lg:w-10 lg:h-10 text-xl z-20;
}

.visual-swiper .swiper-button-next svg,
.visual-swiper .swiper-button-prev svg {
  width: 10px;
}

.visual-swiper .swiper-pagination-bullet {
  @apply w-2 h-2 mx-1 opacity-50 transition duration-500;
  background: white;
}

.visual-swiper .swiper-pagination-bullet-active {
  @apply w-6 opacity-100 rounded-full;
  background: white;
}

/* ------------------------------------------------------------- */
